<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1>
 
  <h3> This is smaple app component</h3>
<app-bindingsample></app-bindingsample> -->

  <!-- <app-bindingsample></app-bindingsample>
  <app-sample></app-sample> -->

  <!-- <app-school> </app-school> -->
  <!-- <app-ifsample></app-ifsample> -->
  <!-- <app-forsample></app-forsample> -->
  <!-- <app-switchsample> </app-switchsample> -->

  <!-- <h4>Routing Sample</h4>
  <br />
  <a routerLink="home"> Home </a> || <a routerLink="contact"> Contact</a>
  <!-- <a href="contact"> Contact</a> -->
  <!-- 
  <hr />

  <router-outlet> </router-outlet> -->
  -->

  <app-ractive1></app-ractive1>
</div>
